name: Release package
on:
  workflow_dispatch:
    inputs:
      release-type:
        description: "Release type"
        required: true
        type: choice
        options:
          - "patch (0.0.x)"
          - "minor (0.x.0)"
          - "major (x.0.0)"
          - "prepatch (0.0.x-beta)"
          - "preminor (0.x.0-beta)"
          - "premajor (x.0.0-beta)"
          - "prerelease (beta)"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: "22"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run tests
        run: npm run test

      - name: Git configuration
        run: |
          git config --global user.email "rodrigo@ralcorta.com"
          git config --global user.name "Rodrigo Alcorta - GitHub Actions"

      - name: Determine Release Version
        id: version
        run: |
          # Extract the first word from the input (e.g., "patch" from "patch (0.0.x)")
          RELEASE_TYPE=$(echo "${{ github.event.inputs.release-type }}" | awk '{print $1}')

          if [[ "$RELEASE_TYPE" == "pre"* ]]; then
            NEW_VERSION=$(npm --no-git-tag-version --preid=beta version $RELEASE_TYPE)
            echo "RELEASE_TAG=beta" >> $GITHUB_ENV
          else
            NEW_VERSION=$(npm --no-git-tag-version version $RELEASE_TYPE)
            echo "RELEASE_TAG=latest" >> $GITHUB_ENV
          fi
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV

      - name: Update changelog
        uses: superfaceai/release-changelog-action@v3
        with:
          path-to-changelog: CHANGELOG.md
          version: ${{ env.NEW_VERSION }}
          operation: release

      - name: Commit & Tag
        run: |
          git add package.json CHANGELOG.md
          git commit -m "chore: release ${{ env.NEW_VERSION }}"
          git tag ${{ env.NEW_VERSION }}

      - name: Publish to NPM
        run: npm publish --verbose --access public --tag ${{ env.RELEASE_TAG }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Push changes
        run: git push origin && git push --tags

      - name: Get Changelog Entry
        id: get-changelog
        uses: superfaceai/release-changelog-action@v3
        with:
          path-to-changelog: CHANGELOG.md
          version: ${{ env.NEW_VERSION }}
          operation: read

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.NEW_VERSION }}
          body: ${{ steps.get-changelog.outputs.changelog }}
          prerelease: ${{ startsWith(github.event.inputs.release-type, 'pre') }}
