name: Publish Packages to NPM

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Package to publish"
        required: true
        type: choice
        options:
          - "(all packages)"
          - "core"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: "22"
          cache: "npm"
          scope: "@arcasdk"

      - name: Install dependencies
        run: npm ci

      - name: Setup NX
        uses: nrwl/nx-set-shas@v4

      - name: Cache NX
        uses: actions/cache@v4
        with:
          path: .nx/cache
          key: nx-${{ runner.os }}-${{ hashFiles('**/nx.json', '**/package-lock.json') }}
          restore-keys: |
            nx-${{ runner.os }}-

      - name: Discover Packages
        id: discover-packages
        run: |
          bash .github/scripts/discover-packages.sh "${{ github.event.inputs.package }}"

      - name: Check and Publish Packages
        id: publish-packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          bash .github/scripts/check-and-publish-packages.sh

      - name: Publish Summary
        if: always()
        run: |
          bash .github/scripts/publish-summary.sh
